{% extends "Base.html" %}
{% load app_tags %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            {% include 'Navbar.html' %}
        </div>
    </div>
    <div class="container" style="overflow-y: scroll; height: 90vh">
        {% for category in recommandations %}
            <div class="row">
                <div class="row mt-3 mx-2">
                    <h3>{{ category.category_title }}</h3>
                </div>
                <div class="row mt-3" style="height: 20%">
                    {% for movie in category.movie_list %}
                        <div class="col-2">
                            <a href="{% url 'movie_details' movie|mongo_id %}">
                                <div class="card bg-transparent mb-3">
                                    <img src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"
                                         class="card-img-top rounded mx-auto" style="width:80%"
                                         alt="Poster of the movie {{ movie.title }}">
                                    <div class="card-body bg-black mx-auto">
                                        <h5 class="card-title">{{ movie.title }}</h5>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}