{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            {% include 'Navbar.html' %}
        </div>
    </div>
    <div class="container movie-details-header" style="height: 90vh; max-height: 90vh">
        <div class="row">
            <div class="col-sm-5 text-center">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" height="600">
                <div class="row text-center my-0 mt-5">
                    <a href="{% url 'recommendations' %}" class="mx-auto">
                        <button class="btn btn-danger btn-md text-center">Back to Recommendations</button>
                    </a>
                </div>
            </div>
            <div class="col-sm-7">
                <ul class="nav nav-tabs" id="movie_tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-white bg-dark" id="details-tab" data-bs-toggle="tab"
                                data-bs-target="#details"
                                type="button" role="tab" aria-controls="details" aria-selected="true">Details
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-white bg-dark" id="reviews-tab" data-bs-toggle="tab"
                                data-bs-target="#reviews"
                                type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews
                        </button>
                    </li>
                    <li class="ms-auto mb-1">
                        <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#modal_add_review"> + Add review
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="movie_tabContent" style="overflow-y:auto; overflow-x: hidden">
                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <h1 class="py-4"><b>{{ movie.title }}</b></h1>
                        <p>{{ movie.overview }}</p>
                        <hr>
                        <p><span class="text-muted">Date Released:</span> {{ movie.release_date }}</p>
                        <p><span class="text-muted">Duration:</span> {{ movie.runtime }} mins</p>
                        <p>
                            <span class="text-muted">Genre: </span>
                            {% for genre in movie.genre %}
                                <span class="badge bg-dark p-2 mx-1">{{ genre }}</span>{% endfor %}
                        </p>
                        <p>
                            <span class="text-muted">Directors: </span>
                            {% for director in movie.directors %}
                                <span class="badge bg-dark p-2 mx-1">{{ director.name }}</span>{% endfor %}
                        </p>
                        <p>
                            <span class="text-muted">Cast: </span>
                            {% for actor in movie.cast %}<span class="badge bg-dark p-2 mx-1">{{ actor.name }} <span
                                    class="text-muted">({{ actor.character }})</span></span>{% endfor %}
                        </p>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-outline-success text-white"><i class="bi bi-play-circle"
                                                                                      style="font-size: 1.25rem"></i>
                                    Mark as watched
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-outline-danger text-white"><i class="bi bi-heart"
                                                                                     style="font-size: 1.25rem"></i>
                                    Like
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-outline-info text-white"><i class="bi bi-heart-fill"
                                                                                   style="font-size: 1.25rem"></i>
                                    Dislike
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade h-100" id="reviews" role="tabpanel" aria-labelledby="reviews-tab"
                         style="overflow-x: scroll; max-height: 80vh">
                        {% for comment in movie.comments %}
                            <div class="row mt-3">
                                <h4>
                                    {{ comment.title }}
                                </h4>
                                <span class="text-muted">{{ comment.date }}</span>
                                <p class="mt-2">
                                    {{ comment.content }} - <a href="{% url 'view_user_page' comment.user.id %}">{{ comment.user.firstName }} {{ comment.user.lastName }}</a>
                                </p>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>

                <!-- Modal -->
                <div class="modal fade" id="modal_add_review" tabindex="-1" aria-labelledby="modalReview"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg shadow">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Add Review</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'add_review' '123' %}">
                                    <div class="row justify-content-center">
                                        <div class="col-10">
                                            <input type="text" name="title" class="form-control bg-dark"
                                                   placeholder="Title">
                                        </div>
                                    </div>
                                    <div class="row mt-3 justify-content-center">
                                        <div class="col-10">
                                            <textarea name="title" rows="10" class="form-control bg-dark"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mt-3 justify-content-center">
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-success">Save review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}