{% extends "Base.html" %}
{% load app_tags %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            {% include 'Navbar.html' %}
        </div>
    </div>
    <div class="container" style="overflow-y: scroll; overflow-x: hidden; height: 90vh">
        <div class="row mt-3">
            <div class="col-3">
                <form method="GET" action="{% url 'get_movies_by_years' %}">
                    <p>{{ filter }}</p>
                    <select class="form-control bg-dark d-inline-block" id="years" name="filter"
                            onchange="this.form.submit()">
                        {% for year in years %}
                            {% if filter == year %}
                                <option value="{{ year }}" selected>{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="row" style="height: 80vh; overflow-x: hidden; overflow-y: scroll">
            {% for movie in movies_by_year.movies %}
                <div class="col-2 mt-3">
                    <a href="{% url 'movie_details' movie.id %}">
                        <div class="card bg-transparent mb-3">
                            <img src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"
                                 class="card-img-top rounded mx-auto" style="width:80%"
                                 alt="Poster of the movie {{ movie.title }}">
                            <div class="card-body bg-black mx-auto">
                                <h5 class="card-title">{{ movie.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}