{% extends "Base.html" %}
{% load app_tags %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            {% include 'Navbar.html' %}
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 mx-2">
            <h3>Films primés</h3>
        </div>
        <div class="row mt-3" style="height: 20%">
            <div class="col-2">
                <a href="{% url 'movie_details' '657b2245d448da2cface22ea' %}">
                    <div class="card bg-transparent mb-3">
                        <img src="https://image.tmdb.org/t/p/w400/3bhkrj58Vtu7enYsRolD1fZdja1.jpg"
                             class="card-img-top rounded mx-auto" style="width:80%" alt="...">
                        <div class="card-body bg-black mx-auto">
                            <h5 class="card-title">The Godfather</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}